{% extends "shared/base.html" %}

{% block head %}
    <title>测试配置</title>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">号段分配</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>姓名</th><th>前缀</th><th>号段</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>彬强</td><td>test</td><td>1001~1100</td></tr>
                <tr><td>万兴</td><td>test</td><td>1101~1150</td></tr>
                <tr><td>青嵩</td><td>test</td><td>1151~1200</td></tr>
                <tr><td>王浩</td><td>test</td><td>1201~1300</td></tr>
                <tr><td>东华</td><td>test</td><td>1301~1400</td></tr>
                <tr><td>艺杰</td><td>test</td><td>1401~1500</td></tr>
                <tr><td>小燕</td><td>test</td><td>1501~1600</td></tr>
                <tr><td>邱晨</td><td>test</td><td>1601~1700</td></tr>
                <tr><td>向源</td><td>test</td><td>1701~1800</td></tr>
                <tr><td>方俊</td><td>test</td><td>1801~1900</td></tr>
                <tr><td>林峰</td><td>test</td><td>1901~1950</td></tr>
                <tr><td>志玮</td><td>test</td><td>1951~2000</td></tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}