[
    {dgry, [{tplt_dir, "../../../data/template/"},
            {cache_port, 8002},
            {log_helper,
                [{log_dir,[{"dblog.tar.gz","../log/","../log_history/"}]},
                    {send_ip,"smtp.sina.com"},
                    {send_account,"dgry_log@sina.com"},
                    {password,"dgry12345"},
                    {to_emails,["dgry_log@sina.com"]},
                    {subject,"logs"},
                    {send_time,{1,[{12,3,0},{14,30,0},{16,55,0}]}},
                    {send_flag,false},
                    {is_debug,0}]},
                {pvp_dump_dir, ""},
                {pvr_dump_dir, ""}]},
    {db,
        [
            {sqldir, "../../../data/sql/"},
            {db_pools, [
                {mysql, [
                    {size, 1},
                    {host, "127.0.0.1"},
                    {user, "root"},
                    {password, ""},
                    {database, "duoxue"},
                    {port, 3306}]}]},
            {log_helper,
                [{log_dir,[{"dblog.tar.gz","../log/","../log_history/"}]},
                    {send_ip,"smtp.sina.com"},
                    {send_account,"dgry_log@sina.com"},
                    {password,"dgry12345"},
                    {to_emails,["dgry_log@sina.com"]},
                    {subject,"logs"},
                    {send_time,{1,[{12,3,0},{14,30,0},{16,55,0}]}},
                    {send_flag,false},
                    {is_debug,0}]}
        ]
    }
].