/deps/.eunit
/deps/goldrush/ebin
/deps/lager/ebin
/deps/lager/ebin/log
/deps/goldrush/.rebar
/deps/server_lib/ebin
/deps/orthogonal_list/ebin/
/deps/orthogonal_list/priv/
/deps/*/test/logs/
/deps/*/test/*.beam
/deps/mysql/ebin/
/deps/poolboy/ebin/
/deps/eredis/ebin/
/rel/game/
.rebar/

tools/web_admin/deps/*
/tools/web_admin/deps/*/rel/
/tools/web_admin/deps/*/ebin/*.beam

log

/test/*.beam
/test/logs
/test/data
/test/ct_report.xml

/record_data*
/out
/rel/dgry

/*.bat
/db.bat
erl_crash.dump

/tools/redis-2.8.12/dump.rdb
ebin
/.idea/workspace.xml
/.idea/vcs.xml
/.eunit
/game_data
.gitignore.swp
console.log
error.log

Mnesia.*
server.iml
