%% app generated at {2015,9,1} {10,31,37}
{application, game,
    [{env,
        [{redis,
            [{host, "127.0.0.1"},
                {port, 8002},
                {database, 0},
                {password, []},
                {reconnect_sleep, 5000},
                {connect_timeout, 28000}]},

            {log_helper,
                [{log_dir, [{"dgrylog.tar.gz", "../log/", "../log_history/"}]},
                    {send_ip, "smtp.sina.com"},
                    {send_account, "dgry_log@sina.com"},
                    {password, "dgry12345"},
                    {to_emails, ["dgry_log@sina.com"]},
                    {subject, "logs"},
                    {send_time, {1, [{12, 3, 0}, {14, 30, 0}, {16, 55, 0}]}},
                    {send_flag, false},
                    {is_debug, 0}]},

            {game_nodes, [
                'knowledge_game@127.0.0.1'
            ]},

            {tplt_dir, "./data/template/"},

            {feedback_file_path,"./tools/dgry_admin/priv/static/"}
        ]}]}.
