{% extends "shared/base.html" %}

{% block head %}
<title>给玩家刷NPC - DGRY GM Tool</title>

<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

{% if msg %}
<div>{{ msg }}</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">给玩家刷NPC</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="rand_pve" id="frm_rand_pvp">
            <div class="form-group">
                <label class="col-sm-2 control-label">玩家账号:</label>

                <div class="col-sm-6">
                    <textarea class="form-control" name="attackers" placeholder="攻击方账号,以半角逗号(,)隔开"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">关卡ID:</label>

                <div class="col-sm-6">
                    <textarea class="form-control" name="levels" placeholder="目标关卡ID,以半角逗号(,)隔开"></textarea>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-offset-2 col-sm-6"><input type="checkbox" id="chk_only_empty" name="chk_only_empty" value="1"/> 仅在空格子上刷</label>
            </div>

            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary" >提交</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}