<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="upload_file" enctype="multipart/form-data">
        <select name="td">
            <option value="/dgry_admin/">gm</option>
            <option value="/gs/">gs</option>
            <option value="/gw/">gw</option>
            <option value="/db/">db</option>
            <option value="/res_android/">res:android</option>
            <option value="/res_ios/">res:ios</option>
            <option value="/Standalones/">res:pc</option>
        </select>
        <input type="file" name="abc" />
        <button type="submit" >submit</button>
    </form>
</body>
</html>